@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Outfit", sans-serif;
  --font-dancing: "Dancing Script", cursive;
}

* {
    font-family: var(--font-sans);
}

.font-dancing {
    font-family: var(--font-dancing);
}

a.active hr{
    display: block;
}

@media (max-width: 640px) {
    a.active{
        background-color: black;
        color: white;
    }
}

